.markdown-flavored--github {
  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;

    th {
      font-weight: 600;
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;

      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }

    img {
      background-color: transparent;
    }
  }
}
