.markdown-flavored--bitbucket {
  pre,
  code {
    font-family: SFMono-Medium, 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo,
      Consolas, Courier, monospace;
    font-size: 12px;
    overflow-x: auto;
    background: rgb(244, 245, 247);
    border-radius: 3px;
  }

  pre {
    margin-top: 8px;
    overflow-wrap: normal;
    padding: 16px 8px;
  }

  code {
    max-width: 100%;
    padding: 2px 4px;
  }
}
