.markdown-flavored--bitbucket {
  table {
    margin-top: 8px;
    border-collapse: collapse;
    width: 100%;

    th {
      vertical-align: top;
    }

    th,
    td {
      border: none;
      text-align: left;
    }

    thead,
    tbody,
    tfoot {
      border-bottom: 2px solid #dfe1e6;

      tr {
        td,
        th {
          padding: 8px 12px;
        }
      }
    }
  }
}
