/* headings */
.markdown-flavored--bitbucket {
  h1,
  h2 {
    letter-spacing: -0.01em;
    margin-top: 40px;
  }

  h1,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h2,
  h3 {
    font-weight: 500;
  }

  h1 {
    font-size: 2.0714285714285716em;
    line-height: 1.103448275862069;
  }

  h2 {
    font-size: 1.7142857142857142em;
    line-height: 1.1666666666666667;
  }

  h3 {
    font-size: 1.4285714285714286em;
    line-height: 1.2;
    letter-spacing: -0.008em;
    margin-top: 28px;
  }

  h4 {
    font-size: 1.1428571428571428em;
    font-style: inherit;
    line-height: 1.25;
    letter-spacing: -0.006em;
    margin-top: 24px;
  }

  h5 {
    font-size: 1em;
    font-style: inherit;
    line-height: 1.1428571428571428;
    letter-spacing: -0.003em;
    margin-top: 16px;
  }

  h6 {
    font-size: 0.8571428571428571em;
    line-height: 1.3333333333333333;
    margin-top: 20px;
    text-transform: uppercase;
  }
}

/* link */
.markdown-flavored--bitbucket {
  a {
    color: #0052cc;
    text-decoration: none;

    &:hover {
      color: #0065ff;
      text-decoration: underline;
    }

    &:focus {
      outline: 2px solid #4c9aff;
      outline-offset: 2px;
    }

    &:active {
      color: #0747a6;
    }
  }
}

/* lists */
.markdown-flavored--bitbucket {
  ul,
  ol,
  dl {
    padding-left: 40px;
  }
}

/* texts */
.markdown-flavored--bitbucket {
  p,
  li {
    overflow-wrap: break-word;
  }

  blockquote {
    color: rgb(122, 134, 154);
    border-left: 1px solid rgb(193, 199, 208);
    padding: 8px 24px;
    margin: 8px 0px 0px;

    &:before {
      content: '\201C';
      float: left;
      margin-left: -1em;
      text-align: right;
      width: 1em;
    }

    &:after {
      content: '\201D';
    }
  }
}

/* inputs */
.markdown-flavored--bitbucket {
  [type='checkbox'] {
    appearance: checkbox;
  }

  [type='radio'] {
    appearance: radio;
  }
}
