/* generic definitions */
html,
body,
.page {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

html,
body,
.page,
.page__header {
  background-color: #232425;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &__header,
  &__editor,
  &__footer {
    width: 100%;
  }

  &__editor {
    flex: 1;

    &,
    & > div {
      max-height: calc(100vh - 74px);
    }
  }

  @media screen and (min-width: $mobile) {
    &__editor {
      &,
      & > div {
        max-height: calc(100vh - 60px);
      }
    }
  }
}

select {
  background: #ffffff url(assets/images/chevron-down.svg) no-repeat 90% 60%/0.625rem;
}

.markdown-flavored img {
  display: inline;
}
