* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  pointer-events: none;
}

video {
  pointer-events: none;
}

input,
textarea,
select {
  font-size: 100%;
  appearance: none;

  &:focus {
    outline: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

form {
  width: 100%;
  border: none;
}

fieldset {
  border: none;
}
