.markdown-flavored--npm {
  table {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #e2e2e2;
  }

  th {
    font-weight: bold;
    text-align: center;
  }

  tr {
    td {
      line-height: 1.4;
    }
  }

  td,
  th {
    font-size: 1.1em;
    padding: 9px 13px;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    line-height: 1.6;
    background: #fff;
    text-align: left;
  }
}

.markdown-flavored--npm tr:nth-child(2n) td {
  background-color: #f4f4f4;
}
