.markdown-flavored--gitlab {
  pre,
  code {
    font-family: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono',
      'Courier New', 'andale mono', 'lucida console', monospace;
  }

  code {
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: keep-all;
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 4px;
  }

  pre {
    display: block;
    padding: 8px 12px;
    margin: 0 0 16px;
    font-size: 13px;
    line-height: 1.6em;
    word-break: break-all;
    word-wrap: break-word;
    color: #2e2e2e;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    overflow-x: auto;

    code {
      color: #2e2e2e;
      background-color: inherit;
      padding: unset;
    }
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #bbb;
    border-image: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 #bbb inset;
  }
}
